trivy-db-to
dist/
coverage.out
.envrc
.go-version
.DS_Store

######################################################################
# IDE

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.history
*.json


/.idea/

